
#popular-section{
    margin-top: 3rem;
    padding-left: 41px;
    
  }
  .popular-container{
    position: absolute;
    width: 89%;
    height: 207px;
    top: 518px;
    margin: 5%;
  }
  .popular-container h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.04em;
  
    color: #000000;
  }
  
  .popular-container-background{
    position: absolute;
    width: 94%;
    height: 220px;
    margin-top: 194px;
    margin-right: 5px;
    background: #F9D9AA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 64px;
  }
  .popular-cards {
    position: relative;
    top: -11rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    overflow-x: auto;
    padding: 10px;
    width: 100%;
  }
  
  .card-popular {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 0 0 300px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform .50s ease;
    cursor: pointer;
  }
  .card-popular:hover{
    transition: transform .50s ease;
    transform:scale(1.03);
  }
  
  .card-popular img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .card-popular-content {
    padding: 10px;
    text-align: center;
  }
  
  .card-popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .card-popular-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* margin-top: 3px; */
    flex-wrap: nowrap;
    gap: 5px;
  }
  
  .card-popular-buttons label {
    margin-right: 10px;
    font-size: 14px;
  }
  
  .card-popular-buttons input[type="radio"] {
    margin-right: 5px;
  }
  
  .card-popular-buttons button {
    padding: 5px 10px;
    background-color: #FF902A;
    color: #fff;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    width: 5rem;
    height: 3.6rem;
    font-size: 2rem;
    
  }
  
  .card-popular-buttons button:hover {
    background-color: #FF902A;
    scale: 1.05;
  }
  .card-popular-buttons button:active{
    scale: 0.95;
    background-color: #a35e1d;
  }
  
  /* Inicio Seccion de los Botones Radio */
  
  fieldset{
    border: none;
  }
  .radios{
    --blue: #2f2105;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    color: var(--blue);
  }
  .radio-block {
    position: relative;
    display: flex;
    /* min-width: 280px; */
    border: dashed var(--blue) 1px;
    border-radius: 20px;
    background-color: #F7F5F3;
    margin-top: 10px;
  }
  
  .selected {
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(50% - 1px);
    height: calc(100% - 2px);
    border-radius: 20px;
    transition: transform 0.2s;
    background-color: var(--blue);
  }
  label {
    position: relative;
    z-index: 100;
    width: 50%;
    padding: 18px;
    transition: color 0.2s;
    text-align: center;
    cursor: pointer;
  }
  
  input[type=radio]:checked + label {
    color: #FFF;
  }
  
  input[type=radio]:checked + .off-label + .selected {
    transform: translateX(100%);
  }
  
  .sr-only, input[type=radio] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    border: 0;
    clip-path: inset(50%);
    white-space: nowrap;
  }
  
  @media (max-width: 768px){
    .radio-block{
        display: flex;
        width: 122px;
        height: 51px;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        margin-right: auto;
    }
  
    .card-popular-buttons label {
        margin-right: 14px;
        font-size: 11px;
        font-weight: bold;
    }
    label{
        width: 48%;
    }
    .card-popular-buttons button{
        width: 119px;
        height: 2.6rem;
        font-size: 2rem;
        margin-left: 3px;
        margin-right: auto;
    }
  }
  
  /* Fin de los Botones Radio */
  
  @media (max-width: 768px) {
    .popular-cards {
        position: relative;
        top: -5rem;
        display: flex;
        flex-wrap: nowrap;
        /* gap: 3rem; */
        justify-content: space-evenly;
        overflow-x: auto;
        padding: 10px;
        width: 104%;
        margin-left: -8px;
    }
  
    .card-popular {
        flex: 0 0 129px;
        height: 234px;
    }
  
    .card-popular-content{
        padding: 1px;
    }
  
    .card-popular-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 6px 0;
        font-size: 11px;
        font-weight: bold;
    }
  
    .card-popular-buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 0.2rem;
        margin-bottom: 11px;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-top: -5px;
    }
  
    .popular-container-background {
        margin-top: 77px;
        height: 188px;
        border-radius: 40px;
        width: 97%;
        margin-left: -35px;
    }
  
    #popular-section {
        margin-top: 1rem;
        padding-left: 41px;
        font-size: 12px;
  }
  }