footer {
    background: linear-gradient(180deg, rgb(241 241 241 / 70%) 0%, rgb(105 105 105 / 40%) 100%);
    color: #fff;
    text-align: center;
    border-radius: 22px 22px 0 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 43px auto 3px;
}

.footer-izq, .footer-centro, .footer-der {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-izq p {
    margin: 0;
    font-size: 14px;
}

.footer-centro img {
    width: 40px;
    height: auto;
    margin: 0 10px;
}

.footer-der a img {
    width: 25px;
    height: auto;
    margin: 0 10px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }
    
    .footer-izq, .footer-centro, .footer-der {
        margin-bottom: 10px;
    }
}