.logos .cart{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.my-li {
    list-style: none;
}

.my-a{
    text-decoration: none;
    color: #2F2105;
    font-size: 1rem ;
    font-weight: 500 ;
}
a{
    text-decoration: none;
    color: #2F2105;
    font-size: 1rem ;
    font-weight: 500 ;
    list-style: none;
}
a:hover{
    color: #F38E2C
}
.my-header {
    width: 100%;
    position: relative;
    padding: 0 2rem;
    z-index: 1;
}
.nav-container{
    width:100%;
    height:60px;
    max-width:1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ul {
    display: flex ;
    gap: 1.2rem;
    margin-right: 8.2rem; 
} */

.nav-container .links{
    display: flex;
    gap: 2rem;
}

.pedido{
    background: #2F2105;
    color:#FFFFFF;
    filter: drop-shadow(6px 2px 24px rgba(0, 0, 0, 0.30));
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.pedido:hover{
    scale: 1.05;
    color: #F4AE26;
}
.pedido:active{
    scale: 0.95;
}

.nav-container .menu{
   color: #2F2105;
   font-size: 1.2rem;
   cursor: pointer;
   display: none; 
}

.bg-img-hero{
    position: absolute;
    width: 533px;
    height: 341px;
    left: 50%;
    top: -4px;
    z-index: -1;
    opacity: 0.9;
}
/* ---------------------------> Seccion Responsive del Menu */
.menu-resp{
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 330px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 100%, rgba(255, 255, 255, 0.2) 100%);
    border-radius: 12px;
    filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.16));
    overflow: hidden;
    transition: height 0.2s ease 0s;
    display: none;
    
}
.menu-resp.open{
    height: 340px;
}
.menu-resp li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-resp .pedido{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
@media (max-width: 576px){
    .menu-resp{
        left: 2rem;
        width: unset;
    }
}
/* ---------------------------> Seccion Responsive del Nav bar */
@media (max-width: 992px) {
    .nav-container .links,
    .nav-container .pedido,
    .nav-container .cart{
        display: none;
    }
    .nav-container .menu{
        display: block;
    }
    .menu-resp{
        display: block;
    }
}